/* estilos gerais */
.comment-section-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
    font-family: Arial, sans-serif;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-title{
    text-align: center;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.comment-section-title {
    font-family: 'Bangers';
    /* -webkit-text-stroke: 0.8px #1881f8; */
    font-size: 3.4em;
    background: -webkit-linear-gradient(130deg,#303030,#1881f8,#303030);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.comment-section-title2 {
    font-family: 'Bangers';
    font-size: 3.4em;
    background: -webkit-linear-gradient(130deg, #5b0405,#ff0000, #7a0408);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.comments-list {
    margin-bottom: 20px;
}

.comment-item {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comment-username {
    font-weight: bold;
    color: #3498db;
}

.comment-text {
    margin-left: 5px;
}

.no-comments {
    color: #ffffff;
}

.comment-form {
    margin-bottom: 20px;
}

.input-username, .input-comment {
    width: 50%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comment-button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-button:hover {
    background-color: #2980b9;
}