/* Celulares e telas menores */
@media only screen and (max-width: 767px) {
    .navbar {
        flex-direction: column; 
        align-items: center; 
    }

    .navbar img {
        margin: 20px 0; 
    }

    .navbar ul {
        margin: 20px 0; 
    }

    .resultado {
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

   .resultado img {
        width: 120px;
        height: auto; 
    }
  .result-bar{
        max-width: 100%;
    }
    #label-container{
        font-size: .5rem;
    }
    h1{
        font-size: 30px;
    }
    .button-container {
        font-size: 10px;
    }
}


@media only screen and (max-width: 1080px) {
    .navbar {
        flex-direction: column; 
        align-items: center; 
    }

    .navbar img {
        margin: 20px 0; 
    }

    .navbar ul {
        margin: 20px 0; 
    }

    .resultado {
        position: absolute;
        top: 89%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .resultado img {
        width: 100px;
        height: auto;
    }
}
